<div class="container">
	<h2>View Widget</h2>
	<div class="row">
		<div class="col-md-4"><b>Name:</b></div>
		<div class="col-md-8">{{widget.name}}</div>
	</div>
	<div class="row">
		<div class="col-md-4"><b>Description:</b></div>
		<div class="col-md-8">{{widget.description}}</div>
	</div>
	<div class="row">
		<div class="col-md-4"><b>Color:</b></div>
		<div class="col-md-8">{{widget.color}}</div>
	</div>
	<div class="row">
		<div class="col-md-4"><b>Size:</b></div>
		<div class="col-md-8">{{widget.size}}</div>
	</div>
	<div class="row">
		<div class="col-md-4"><b>Quantity:</b></div>
		<div class="col-md-8">{{widget.quantity}}</div>
	</div>
	<a href='#/'>Return Home</a>
</div>
